<tr>
  <td><%= product.id %></td>
  <td><div contenteditable><%= product.name %></div></td>
  <td><div contenteditable><%= product.description %></div></td>
  <td><div contenteditable><%= product.price %></div></td>
  <td><%= product.category.name %></td>
  <td><%= product.image %></td>
  <td><i class="fi-page-edit"></i>&nbsp;<i class="fi-page-delete"></i></td>
</tr>