<tr id="product-row<%= @product.id %>">
  <td colspan="0" class="text-center">
    <%= form_for(@product, html: {class: 'edit_form'}, remote: true) do |f| %>
        <div class="row">
          <div class="small-1 column"><%= f.text_field :id, disabled: true %></div>
          <div class="small-2 columns"><%= f.text_field :name %></div>
          <div class="small-2 columns"><%= f.text_field :description %></div>
          <div class="small-1 column"><%= f.number_field :price %></div>
          <div class="small-2 columns"><%= f.collection_select :category_id, Category.order(:id), :id, :name %></div>
          <div class="small-3 columns"><%= f.text_field :image %></div>
          <div class="small-1 column end">
            <%= link_to product_path, :onclick => "$('.edit_form').submit()", remote: true do %>
                <i class="fi-save"></i>
            <% end %>&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to product_row_path, remote: true do %>
                <i class="fi-minus-circle"></i>
            <% end %>
          </div>
        </div>
    <% end %>
  </td>
</tr>
