<%= form_for product, remote: true do %>
<tr id="product-row<%= product.id %>">
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td><%= product.price %></td>
  <td><%= product.category.name %></td>
  <td><%= product.image %></td>
  <td>
    <%= link_to :controller => 'products', :action => 'edit', :id => product.id, remote: true do %>
        <i class="fi-page-edit"></i>
    <% end %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to product, {
                        method: :delete,
                        remote: true,
                        data: { confirm: "Are you sure to delete '#{product.name}'?"} } do %>
        <i class="fi-minus-circle"></i>
    <% end %>
  </td>
</tr>
<% end %>