<div data-equalizer class="cart-product large-12 column mb1">

  <%= form_for order_item, remote: true do |f| %>

      <div class="column large-2 text-center p0" data-equalizer-watch>
        <%= link_to product do %>
            <%= image_tag product.image, class: "radius-l1" %>
        <% end %>
      </div>

      <div class="column large-7 glassy-bg text-center" data-equalizer-watch>
        <p class="scale ptm"> <%= link_to product.name, product_path(product.id) %> </p>

        <div class="row collapse prefix-radius">
          <div class="small-3 columns">
            <span class="prefix">Количество</span>
          </div>
          <div class="small-6 columns">
            <%= f.number_field :quantity, value: order_item.quantity.to_i, min: 1 %>
          </div>
          <div class="small-3 columns">
            <%= f.submit 'Обновить', class: 'button postfix' %>
          </div>
        </div>

        <% if product.category.has_discount %>
            <div class="row collapse prefix-radius text-left product-label">
              Предусмотрены скидки! Выберите <%= product.category.discount_amount %> товаров или более и получите <%= product.category.discount_percent %> % скидку.
            </div>
        <% end %>

        <%= f.hidden_field :product_id, value: product.id %>

      </div>

      <div class="column large-3 primary-bg text-right radius-r1" data-equalizer-watch>
        <%= link_to order_item, {method: :delete, remote: true} do %>
            &nbsp;
            <i class="fi-x right"></i>
        <% end %>

        <div class="column cart-label">
          Количество:
          <%= order_item.quantity %>
        </div>

        <div class="column cart-label">
          Цена:
          <%= number_to_currency(order_item.unit_price, locale: :ru) %>
        </div>

        <div class="column cart-label">
          Скидка:
          <%= order_item.has_discount ? product.category.discount_percent : '0' %>%
        </div>

        <div class="column cart-label">
          Итого:
          <span style="color: green"><%= number_to_currency(order_item.total_price, locale: :ru) %></span>
        </div>
      </div>

  <% end %>
</div>