<%= form_for category, remote: true do %>

<tr id="category-row<%= category.id %>">
  <td><%= category.id %></td>
  <td><%= category.name %></td>
  <td><%= category.description %></td>
  <td><%= category.discount_percent %></td>
  <td><%= category.discount_amount %></td>
  <td><%= category.image %></td>
  <td>
    <%= link_to edit_category_path(category.id),
                title: 'edit category',
                remote: true do %>
        <i class="fi-page-edit"></i>
    <% end %>

    <%= link_to bind_products_path(category.id),
                data: { prompt: { message: 'Введите id новой категории:',param: 'new_category_id' } },
                title: 'привязать продукты к другой категории',
                remote: true do %>
        <i class="fi-arrows-expand"></i>
    <% end %>

    <%= link_to category, method: :delete,
                          remote: true,
                          title: 'удалить категорию',
                          data: { confirm:
                               "Вы уверены, что хотите удалить '#{category.name}'?\n" +
                               "Внимание! Все продукты, принадлежащие этой категории будут также удалены.\n" +
                               'Вы можете переназначить продукты другой категории, выбрав соответсвующее действие.'} do %>
        <i class="fi-minus-circle"></i>
    <% end %>
  </td>
</tr>

<% end %>