<%= form_for(@category, html: {class: 'new_form', method: :post}, remote: true) do |f| %>
    <div class="row">
      <div class="small-12 columns">Добавление новой категории:</div>
    </div>
    <br>
    <div class="row">
      <div class="small-2 columns"><%= f.text_field :name, placeholder: 'category name' %></div>
      <div class="small-2 columns"><%= f.text_field :description, placeholder: 'description' %></div>
      <div class="small-2 columns"><%= f.text_field :discount_percent, placeholder: 'discount_percent' %></div>
      <div class="small-2 columns"><%= f.text_field :discount_amount, placeholder: 'discount_amount' %></div>
      <div class="small-3 columns"><%= f.text_field :image, placeholder: 'image path (http://...)' %></div>
      <div class="small-1 column end">
        <%= link_to categories_path, onclick: "$('.new_form').submit()", remote: true do %>
            <i class="fi-save"></i>
        <% end %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to '#', onclick: 'create_new_category()' do %>
            <i class="fi-minus-circle"></i>
        <% end %>
      </div>
    </div>
<% end %>

