<h3 class="mbm mt1 text-left">
  <%= @product.name %>
</h3>

<p>Категория: <%= @product.category.name %></p>

<p><%= @product.description %></p>

<p class="label product-price radius mb1"><%= number_to_currency(@product.price, locale: :ru) %></p>

<%= form_for @order_item, html: {class: 'order_item_form'}, remote: true do |f| %>
    <div class="column large-4 p0">

        <%= f.hidden_field :product_id, value: product.id %>

        <div class="row">
          <div class="small-4 columns ptm">
            <%= f.number_field :quantity, value: order_item.quantity.to_i, min: 1 %>
          </div>
          <div class="small-8 columns end">

            <%= f.submit(
                (@product.id != @order_item.product_id ? 'Добавить' : 'Обновить'),
                class: 'button',
                id: 'cart_button' )%>

            <%= link_to cart_path, class: 'button', id: 'cart_link', style: 'display: none' do %>
                <i class="fi-shopping-cart"></i> Корзина
            <% end %>

          </div>
        </div>

      </div>

<% end %>