<br>

<div class="row">
  <div class="large-12 columns">

    <div class="row">

      <div class="large-4 small-12 columns">

        <div class="hide-for-small panel">
          <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Categories &raquo;</a>
          <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
            <% Product.categories.each do |category| %>
                <li><%= link_to category.name, fetch_products_path(cat_id: category.id), remote: true %></li>
            <% end %>
          </ul>
        </div>

        <% Product.categories.each do |category| %>
            <%= link_to fetch_products_path(cat_id: category.id), remote: true do %>
                <div id="category-<%= category.id %>" class="panel radius">
                  <h6><%= category.name %></h6>
                  <% unless category.image.blank? %>
                      <%= image_tag category.image %>
                  <% end %>
                </div>
            <% end %>
        <% end %>

      </div>

      <div id="products_grid" class="large-8 columns">
        <%= render partial: 'products_list', locals: {products: @products} %>
      </div>

    </div>
  </div>
</div>
