<div class="row">
  <nav class="top-bar column" data-topbar>

    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            <i class="fi-social-path"></i> RWShop
          </a>
        </h1>
      </li>
      <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%if signed_in?%>
            <li class="cart-text"><%= render 'layouts/cart_text' %></li>
            <li class="divider"></li>
            <% if current_user.role?(Role::ADMIN) %>
                <li class="has-dropdown">
                  <%= link_to 'Администрирование', admin_path %>
                  <ul class="dropdown">
                    <li><%= link_to 'Продукты', admin_products_path %></li>
                    <li><%= link_to 'Категории', admin_categories_path %></li>
                    <li><%= link_to 'Пользователи', admin_users_path %></li>
                  </ul>
                </li>
                <li class="divider"></li>
            <% end %>
            <li><%=link_to current_user.email, edit_user_registration_path%></li>
            <li class="divider"></li>
            <li><%=link_to 'Выход', destroy_user_session_path, method: :delete%></li>
        <%else%>
            <li class="cart-text"><%= render 'layouts/cart_text' %></li>
            <li class="divider"></li>
            <li><%=link_to 'Регистрация', new_user_registration_path%></li>
            <li class="divider"></li>
            <li><%=link_to 'Вход', new_user_session_path%></li>
        <%end%>
      </ul>
    </section>

  </nav>
</div>