<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'RusWizards eShop' %></title>

    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <%= render 'layouts/header' %>
  <div class="row" id="flash-message">
    <% unless flash.empty? %>
        <div data-alert class="alert-box">
          <% flash.each do |key, value| %>
              <%= content_tag :div, value, class: "flash #{key}" %>
          <% end %>
          <a href="#" class="close">&times;</a>
        </div>
    <% end %>
  </div>

  <div id="main-content" class="row full-min-height">
    <%= yield %>
  </div>

  <footer class="row">
    <div class="large-12 columns">
      <hr> <p>© Daniil Kolotev - RusWizards eShop 2015 </p>
    </div>
  </footer>

  <%= javascript_include_tag 'application' %>

  </body>
</html>
